@charset "UTF-8";

.Layout {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
}

img {
	width: 300px;
}

.shadow1 {
	box-shadow: 0 4px 2px -2px rgba(0,0,0,0.7);
}

.shadow1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow2 {
	box-shadow: 0 4px 5px rgba(0,0,0,0.6);
}

.shadow3 {
	box-shadow: 0 5px 18px -7px rgba(0,0,0,1);
}

.shadow3:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow4 {
	box-shadow: 0 17px 20px -18px rgba(0,0,0,1);	
}